name: Python Unit Tests

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Instala las librerías necesarias para que el test y el código principal funcionen
        pip install filelock pymodbus==2.5.3 pyserial freezegun

    - name: Run tests
      run: |
        # Test execution in test/ folder
        cd tests/
        # The test script uses relative paths to find the code
        python3 test_polling_daemon.py